<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ title if title else "CardioCare AI" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="container fade-in">
    <div class="nav">
      <div class="brand">CardioCare AI</div>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/analysis">Risk Analysis</a>
      </div>
    </div>

    {% block content %}{% endblock %}
  </div>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
